In [15]:
from get_data_yahoo import obtener_datos_yahoo

In [16]:
datos = obtener_datos_yahoo(None,None,ticker="TSLA")

[*********************100%***********************]  1 of 1 completed

In [23]:
datos.columns = [i for i in datos.columns]
datos.index = [i for i in datos.index]
datos.head()

               Close      High       Low      Open     Volume
2010-06-29  1.592667  1.666667  1.169333  1.266667  281494500
2010-06-30  1.588667  2.028000  1.553333  1.719333  257806500
2010-07-01  1.464000  1.728000  1.351333  1.666667  123282000
2010-07-02  1.280000  1.540000  1.247333  1.533333   77097000
2010-07-06  1.074000  1.333333  1.055333  1.333333  103003500